body {
    font-family: 'Open Sans',sans-serif;
    background-color: #f7f9f8;
}

.container {
    width: 70%;
}

.middle > * {
    vertical-align: middle;
}

/*HEADER BRAND*/
.content-vertbanner {
    position: relative;
}

.section-logo {
    padding-top: 40px;
}

.logo {
    width: 200px;
    height: 75px;
}

.content-vertbanner img {
    width: 120px;
    height: 141px;
    position: absolute;
    top: 0px;
    right: 180px;
}

/*HEADER MENU*/
.section-menu {
    padding-top: 70px;
}

.title-image > img {
    width: 90%;
    height: 90%;
}

.menu-main {
    margin: 0;
}

.menu-main > li {
    /*list-style-image: url('img/nav-bullet.jpg');*/
    list-style: none;
    vertical-align: middle;
}

.menu-main > li a {
    text-decoration: none;
    color: #606062;
}

.paragraph-content {
    margin-left: 50px;
    padding-bottom: 70px;
}

.btn-send {
    color: white;
    background: #ed3237;
    border: 1px solid #ed3237;
}

.slider-section {
    background-image: url("img/bg-slider-section.png");
    background-size: cover;
    height: 1000px;
}

/*
    Responsive makeover this!
*/
.section-selectmenu nav {
    display: none;
}

@media screen and (max-width: 840px) {
    /*display the navigation menu for smaller devices*/
    body {
        overflow-y: auto;
        width: 100%;
    }

    .section-selectmenu {
        padding-top: 100px;
    }

    .section-selectmenu > nav {
        display: block;
        margin-left: 20px !important;
    }

    .section-selectmenu > nav select {
        width: 80%;
        margin: auto;
    }

    .section-selectmenu-sitemap {
        padding-top: 20px;
    }

    .section-selectmenu-sitemap > nav {
        display: inline;
        margin-left: 20px !important;
        margin-bottom: 100px !important;
    }

    .section-selectmenu-sitemap > nav select {
        width: 80%;
        margin: auto;
    }

    .menu-main {
        display: none;
    }

    .title-image > img {
        width: 80%;
        height: 80%;
    }

    .img-content-origin {
        display: none;
    }

    .paragraph-content {
        display: inline-block;
        text-align: justify;
        width: 80%;
        padding-top: 10px;
        margin-left: 20px !important;
    }

    footer {
        background-image: none !important;
        width: 100%;
        height: 500px;
        position: relative;
        bottom: 0;
        left: 0;
    }

    .section-footermenu {
        display: none;
    }

    .section-school {
        display: none;
    }

    .section-school-responsive {
        display: inline-block !important;
        padding-top: 70px;
        margin-left: 20px !important;
    }

    .footer-block {
        margin: 0;
        padding: 10px 0 10px 0;
        color: white;
        text-transform: uppercase;
    }

    #footer-navbar {
        display: none;
    }
}

.section-content {
    padding-bottom: 100px;
}

.title-vacancy {
    color: #a743b3;
}

/*FOOTER MENU*/

footer {
    background-image: url("img/footer-background.jpg");
    background-size: cover;
    background-position: center;

    /*padding-top: 200px;*/
    width: 100%;
    height: 600px;
    position: relative;
    bottom: 0;
    left: 0;
}

.clearfix {
    overflow: auto;
}

.school1 {
    position: relative;
    top: 170px;
    left: 10px;
}

.school2 {
    position: relative;
    top: 100px;
    left: 220px;
}

.school3 {
    position: relative;
    top: 50px;
    left: 380px;
}

.school4 {
    position: relative;
    top: 10px;
    left: 590px;
}

.school5 {
    position: relative;
    top: -70px;
    left: 730px;
}

.section-school-responsive {
    display: none;
}

.section-socialcloud {
    position: relative;
    left: 600px;
}

.section-selectmenu-sitemap {
    display: none;
}

.section-footermenu {
    padding-top: 50px;
}

.section-appbutton {
    padding-top: 10px;
}

.btn-subscribe {
    background-color: #ed3237;
    border: #ed3237;
    color: white;
}

.btn-subscribe:hover {
    background-color: #ed3237;
    border: #ed3237;
    color: white;
}

.title-sitemap {
    font-size: 17px;
    text-decoration: underline;
}

.input-subscribe:focus {
    border: 1px solid #ed3237;
}

#footer-navbar {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;

    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f05123;
}

.footer-block {
    margin: 0;
    padding: 20px 0 10px 0;
    color: white;
    text-transform: uppercase;
}

.footer-menu {
    margin: 0;
}

.footer-menu li {
    list-style: none;
}

.footer-menu li a {
    text-decoration: none;
    color: #606062;
}

.tab-wrapper {
    padding-top: 20px;
    margin: 0 auto;
    height: 700px;
}

.section-tab {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid transparent;
}

.input-tab {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 5px;
    font-weight: 600;
    text-align: center;
    color: #606062;
    border-right: 1px solid #ff550f;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

/*label[for*='1']:before {
    content: '\f1cb';
}

label[for*='2']:before {
    content: '\f17d';
}

label[for*='3']:before {
    content: '\f16b';
}

label[for*='4']:before {
    content: '\f1a9';
}
*/
label:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label {
    color: #555;
    border-right: 1px solid #eee;

    /*border-top: 2px solid orange;*/
    border-right: 1px solid orange;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9 {
    display: block;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }

    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}